<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation Confirmed</title>
</head>
<body>
    <h3>Reservation Confirmed</h3>
    
    <p>Thank you for making a reservation.</p>
   
    <!-- Add more details as needed -->

    <p><a href="{% url 'intro_page' %}"><button>Back to Main Page</button></a></p>
    <p><a href="{% url 'success_page' %}"><button>Click to confirm</button></a></p>
</body>
</html>

