<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>If you want Information</h1>
    <p>We can assist you!</p>
    <p>Customers are our priority</p>
    <p>We are customer oriented</p>
    <p>Our brewpub is uses fresh products with our hormones</p>
    <p>Strict BIO</p>
    <p><a href="{% url 'information_page' %}"><button>To information</button></a></p>
    <p><a href="{% url 'intro_page' %}"><button>Main page</button></a></p>
</body>
</html>