<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Albi's Brauhaus!</h1>
    <p><a href="{% url 'second_page' %}"><button>Go to Menu</button></a></p>
    <p><a href="{% url 'third_page' %}"><button>Go to Beverages</button></a></p>
    <p><a href="{% url 'fourth_detail' %}"><button>Make Reservations</button></a></p>
    <li><a href="{% url 'information_detail' %}"><button>More Information</button></a>
    <a href="{% url 'shopping_page' %}"><button>Online Shopping</button></a>
    <a href="{% url 'membership_detail' %}"><button>Become a Member</button></a></li>

</body>
</html>

